---
title: Lecture 1 
subtitle: Introduction to MATLAB 
description: F2011 Lecture 1 
breadcrumbs:
    - title: F2011
      url: course/f2011/index.html
    - title: Lecture 1
      url: 
---

{% extends "lecture.j2" %}

{% block embedCode %}
<script async class="speakerdeck-embed" data-id="67cb7e602dc00130296a22000a9d04d8" data-ratio="1.29456384323641" src="//speakerdeck.com/assets/embed.js"></script>
{% endblock embedCode %}

{% block demoCode %}
{% syntax matlab %}
{% include "course/f2011/lecture01/VoltageTracePlot.m" %}
{% endsyntax %}
{% endblock demoCode %}
